.layout {
  min-height: 100vh;
}

.body {
  margin-top: 64px;
  margin-bottom: 80px;
}

.sider {
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 80px;
  overflow: auto;
  border-right: 1px solid #f0f0f0;
}

.content {
  margin-left: 280px;
  padding: 16px;
  min-height: calc(100vh - 64px - 80px);
  background: #f5f5f5;
}
